<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267892810055-bgghkmj8jiio6egrop782rv43k2bieok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267892810055-bgghkmj8jiio6egrop782rv43k2bieok</string>
	<key>API_KEY</key>
	<string>AIzaSyA_QVad_oE17Dz6H5weLVz-8yj81FbJF9I</string>
	<key>GCM_SENDER_ID</key>
	<string>267892810055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harshRajpurohit.weChat</string>
	<key>PROJECT_ID</key>
	<string>poststory-8f726</string>
	<key>STORAGE_BUCKET</key>
	<string>poststory-8f726.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267892810055:ios:78a343f599d96cc1516c62</string>
</dict>
</plist>